<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Resetting your password for example.com</h1>
    <p>
      You have requested to reset your password for example.com. To do so, please follow this link: <%= @password_reset_url %>.
    </p>
    <p>If you have not, in fact, requested to reset your password, you can safely ignore this email.</p>
  </body>
</html>
